<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" type="image/png" href="/imgs/icons/gracidea.png">
  <title>Gracidea | Pokémon Live Map</title>
</head>
<body>
  <!-- App -->
  <main id="app" :class="{ready:loading.done}">
    <template>
      <div class="ui">
        <header>
          <div class="title">
            <img src="imgs/icons/gracidea.png">
            <div>Gracidea</div>
          </div>
          <div class="position">
            {{ user.position.x }};{{ user.position.y }}
          </div>
          <nav class="menu">
            <div @click="show.map = !show.map" class="button" :class="{active:show.map}"><img src="imgs/icons/map.png">{{ lang?.nav?.map || "Map" }}</div>
            <div @click="show.debug = !show.debug" class="button" :class="{active:show.debug}"><img src="imgs/icons/debug.png">{{ lang?.nav?.dev || "Debug" }}</div>
            <div @click="redirect('https://github.com/lowlighter/gracidea')" class="button"><img src="imgs/icons/pokedoll.png">{{ lang?.nav?.github || "GitHub" }}</div>
          </nav>
        </header>
        <transition name="fade">
          <map v-if="show.map">
            <div class="wrapper">
              <div v-for="map in maps" :style="{top:map.css.y+'px', left:map.css.x+'px'}" class="area">
                <img :src="'imgs/regions/'+map.id+'.png'">
                <div class="location tips" v-for="location in map.locations" :class="{[location.type]:true, disabled:location.disabled}" :style="{top:location.css.y+'%', left:location.css.x+'%', zIndex:location.css.y}" @click="!location.disabled ? (camera(location), show.map = false) : null">
                  <div class="tips-text">{{ lang.map.locations[location.id]}}</div>
                </div>
              </div>
            </div>
          </map>
        </transition>
      </div>
      <div class="view"></div>
      <div class="loading" v-if="!loading.done">
        <img src="imgs/icons/loading.gif" alt="">
        {{ loading.state }}
      </div>
      <div class="debug" v-if="(show.debug)&&(lang.debug)">
        <label v-for="x in ['sea', 'areas', 'chunks', 'tweens', 'pause']" :key="x">{{ lang.debug[x] }}<input type="checkbox" v-model="debug[x]" @change="debug_render"></label>
        <label>{{ lang.debug.branch }}<input type="text" v-model="debug.branch" disabled></label>
        <label>{{ lang.debug.fps }}<input type="text" v-model="debug.fps" disabled></label>
      </div>
    </template>
  </main>

  <!-- Scripts -->
  <script src="js/pixi.min.js"></script>
  <script src="js/viewport.js"></script>
  <script src="js/axios.js"></script>
  <script src="js/vue.min.js"></script>
  <script type="module" src="js/gracidea.min.js"></script>

</body>
</html>