/* Body */
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #182850;
  }

/* Main */
  main {

  }

  #location {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    background-size: cover;
    image-rendering: crisp-edges;
    background-image: url(/imgs/locations/route.png);
  }

  #location .position {
    font-size: .6rem;
  }


  nav {
    position: fixed;
    top: 4rem;
    right: 0;
    border: 4px solid #4A4969;
    background-color: #F8F8F8;
    box-shadow: 0 0 0 2px #293133;
    display: flex;
    flex-direction: column;
    padding: .25rem;
    border-radius: .25rem;
  }
