body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #182850;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.25rem;
  background-color: #182850;
  z-index: 9999;
  cursor: wait;
}

.loader .loaded {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  font-size: 0.8rem;
  height: 4rem;
}
.loader .loaded > * {
  opacity: 0.2;
}
.loader .loaded :nth-child(1) {
  opacity: 1;
}

.loader .loaded .loading {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
.loader .loaded .loading::after {
  overflow: hidden;
  display: inline-block;
  content: "...";
  animation: loading-dots-keyframes 1.2s steps(4, jump-none) infinite;
}
@keyframes loading-dots-keyframes {
  0% { transform: translateX(-100%); }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: .25rem;
  z-index: 8888;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
nav a {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 10rem;
}
nav a, nav a:visited {
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  color: #4496FF;
  cursor: pointer;
}
nav a img {
  height: 1rem;
  width: 1rem;
  margin-right: .25rem;
}

#sha {
  font-size: 0.7rem;
  font-family: monospace;
  opacity: .7;
}

nav a.app-name img {
  height: 1.5rem;
  width: 1.5rem;
}
nav a.app-name {
  font-size: 1.5rem;
}


/*
#location {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  background-size: cover;
  image-rendering: crisp-edges;
  background-image: url(/copyrighted/imgs/locations/route.png);
  width: 8.125rem;
  height: 3.25rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#location .position {
  font-size: .6rem;
}

nav.debug {
  position: fixed;
  top: 7.5rem;
  right: 5.7rem;
  display: none;
  flex-direction: column;
}

nav {
  position: fixed;
  top: 5.5rem;
  right: 0;
  border: 4px solid #4A4969;
  background-color: #F8F8F8;
  box-shadow: 0 0 0 2px #293133;
  display: flex;
  flex-direction: column;
  padding: .25rem;
  border-radius: .25rem;
}

nav > * {
  padding: .25rem .5rem;
  font-size: 1rem;
  text-align: left;
}

nav > *:hover {
  cursor: pointer;
  color: blue !important;
}

button {
  border: none;
  background: none;
}


*/